@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital@0;1&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root
{
  background-color: white;
}
html,
body {
  height: 100%;
  background-color: white;
}

:root {
  --cyan:rgb(219, 226, 239);
  --light-grey: #6d6e70;
  --grey: #2d2d2d;
  --yellow: #fbf1a4;
  --dark-cyan: #013e38;
  --red: #f56664;
  --basefont: "Oswald", sans-serif;
  --secfont: "Montserrat", sans-serif;
}

body {
  font-family: var(--basefont);
  background-color:white;
  color: white;
  text-align: center;
}
::-webkit-scrollbar-track {
  border: 5px solid rgb(17, 45, 78);
  background-color: rgb(17, 45, 78);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(219, 226, 239);
}

::-webkit-scrollbar-thumb {
  background-color: var(--cyan);
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}
